:root {
  --color1: #cdb4db;
  --color2: #ffc8dd;
  --color3: #e786aa;
  --color4: #bde0fe;
  --color5: #a2d2ff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color4);
}

.wrapper {
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.header {
  font-size: 24px;
  color: var(--color3);
  font-weight: 700;
  padding: 20px 15px;
  border-bottom: 1px solid var(--color2);
}

.input__list {
  margin: 25px;
}

.inp {
  text-align: center;
  border: 1px solid var(--color2);
  width: 100%;
  height: 60px;
  font-size: 18px;
  border-radius: 8px;
}

.seporator {
  margin: 25px 0px;
  width: 100%;
  height: 1px;
  background-color: var(--color3);
}

.btn {
  text-align: center;
  border: 1px solid var(--color2);
  width: 100%;
  height: 60px;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--color1);
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.active .input__list {
  display: none;
}

.weather {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-active {
  display: flex;
}

.weather img {
  max-width: 130px;
  margin-top: 30px;
}

.temp {
  display: flex;
  font-size: 70px;
  font-weight: 500;
}

.numb {
  font-weight: 800;
}

.deg {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}

.temp__text {
  font-size: 20px;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.uil-map-marker {
  font-size: 22px;
  margin-right: 5px;
}

.ditails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color3);
}

.column {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column i {
  font-size: 40px;
  color: var(--color1);
}

.humidity {
  border-left: 1px solid var(--color3);
}

.ditail .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
}

.ditail .deg {
  font-size: 17px;
  margin: 0;
}

.ditails p {
  font-size: 14px;
}
